<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="static/script.js"></script>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <aside>
            <label class="command" for="fts" id="fts-label">Select FTS Model
                <input type="file" name="fts" id="fts">
            </label>
            <button class="command" id="load" type="button">Upload model</button>
            <button class="command" id="full" type="button">Full ambiguities analysis</button>
            <button class="command" id="hdead" type="button">Liveness analysis</button>
            <button class="command" id="delete" type="button">Delete model and close</button>
            <button class="command" id="stop" type="button">Stop processing</button>
            <button class="command" id="disambiguate" type="button">Remove all ambiguities</button>
            <button class="command" id="fopt" type="button">Remove false optional</button>
            <button class="command" id="hdd" type="button">Remove dead transition and hidden deadlock</button>
            <button class="command" id="verify_properties" type="button">Verify property</button>
            <textarea id="property_text_area" name="property_text_area" rows="20" cols="50" style="display:none">Insert an ACTL formula to verify</textarea> 
        </aside>
        <main>
            <h2>Prototype of UI for FTS4MVC tool</h2>
            <textarea readonly></textarea>
        </main>
    </body>
</html>
