aside {
    padding: 5px;
    display: flex;
    background-color: yellowgreen;
    flex-direction: column;
    flex-grow: 1;
    max-width: 300px;
    min-width: 300px;
}

aside > * {
    margin: 5px;
}

#legend, main {
    flex-grow: 9;
    padding: 5px;
    background-color: seashell;
}

div.console, div.source{
  height: 80%;
}

main textarea {
    width: 90%;
    height: 100%;
    background-color: black;
    color: white;
    border-radius: 5px;
    resize: none;
}

html {
  height: 100%;
  font-family: sans-serif;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

.command {
  background-color:green;
  border-style: hidden;
  border-width: 3px;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: black;
  color: white;
  padding: 5px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  box-shadow:black 3px 3px;
}

#stop:disabled, .command:disabled {
  background-color: aliceblue;
  color: grey;
}

#stop {
  background-color: red;
  color: black;
}

#stop:hover, .command:hover {
  background-color:yellow;
  color: black;
}

input[type="file"] {
  display:none;
}

label {
  text-align: center;
}

img {
  max-width:90%;
  overflow: auto;
  display: none;
}

.summary, .source, #summary, #legend {
  display: none;
}

#message, .tab > button {
  font-size:14pt;
}


#legend #dead {
  color: blue;
}

#legend #false {
  color: green;
}

#legend #hidden {
  color: white;
  background-color: red;
}

#legend {
  margin-left: auto;
  margin-right: auto;
}

main #evaluation_display{
  text-align: center;
}

main #evaluation_display #vmc_formula {
  background-color: lightgreen;
  font-style: italic;
}

main #evaluation_display #vmc_eval {
  font-weight: bold;
}

main #evaluation_display #vmc_details {
  border-style: solid;
  border-color: lightgreen;
}

aside #property_text_area {
  resize: none
}
