aside {
    padding: 5px;
    display: flex;
    background-color: yellowgreen;
    flex-direction: column;
    flex-grow: 1;
    max-width: 300px;
    min-width: 300px;
}

aside > * {
    margin: 5px;
}

#legend, main {
    flex-grow: 9;
    padding: 5px;
    background-color: seashell;
    overflow: auto;
}

.title {
  display: flex;
  align-items: center;
}

#aside-title {
  height: 45px;
  justify-content: space-evenly;
}

#main-title > h1 {
  margin-right: 10px;
}

div.console, div.source{
  height: 80%;
}

main textarea {
    width: 90%;
    height: 100%;
    background-color: black;
    color: white;
    border-radius: 5px;
    resize: none;
    font-size: larger;
}

html {
  height: 100%;
  font-family: sans-serif;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

.command {
  background-color:green;
  border-style: hidden;
  border-width: 3px;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: black;
  color: white;
  padding: 5px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  box-shadow:black 3px 3px;
  text-align: left;
}

.fts-label-disabled {
  background-color:aliceblue;
  border-style: hidden;
  border-width: 3px;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: black;
  color: grey;
  padding: 5px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  box-shadow:black 3px 3px;
}

#stop:disabled, .command:disabled {
  background-color: aliceblue;
  color: grey;
}

#stop {
  background-color: red;
  color: black;
}

#stop:hover, .command:hover {
  background-color:yellow;
  color: black;
}

input[type="file"] {
  display:none;
}

label {
  text-align: center;
}

img {
  max-width:100%;
  overflow: auto;
  display: none;
}

.summary, .source, #summary, #legend {
  display: none;
}


#legend #dead {
  color: blue;
}

#legend #false {
  color: green;
}

#legend #hidden {
  color: white;
  background-color: red;
}

#legend {
  margin-left: auto;
  margin-right: auto;
}

main #evaluation_display{
  text-align: center;
}

main #evaluation_display #vmc_eval {
  font-weight: bold;
}

aside #property_text_area {
  resize: none
}

#image-div {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

#summary {
  padding: 30px;
}

#summary p {
  font-size: x-large;
}

#summary h4 {
  font-size: x-large;
}

#summary li {
  font-size: large;
}

#summary tr {
  font-size:large;
}

#summary tr:nth-child(odd) {
  background-color:darkgray;
}

#summary tr:nth-child(even) {
  background-color:lightgray;
}

#summary table tr:first-of-type {
  background-color:black;
  color:white;
  padding:10px;
  font-size:larger;
}

#summary table {
  width:100%;
  border-collapse: collapse;
}

#summary table, #summary td, #summary th, #summary tr {
  border:1px solid black;
}

#counter-div {
  text-align: center;
  padding: 10px;
  max-width:700px;
}

#counter-div img {
  margin: auto;
}
