.tab {
  overflow: hidden;
}

#message {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Style the buttons that are used to open the tab content */
.tab-button {
  background-color: #cce699;
  float: left;
  border-style: solid;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-color: #b7c69c;
  color: black;
  border-radius: 5px 5px 0px 0px;
}

#message, .tab > button {
  font-size:14pt;
}


/* Change background color of buttons on hover */
.tab-button:hover {
  background-color: #ddd;
}

.tab button:disabled{
  background-color: #f0f8ff;
  color:grey;
}

/* Create an active/current tablink class */
.selected-tab {
  border-style: solid;
  border-color: #008000;
  background-color: #008000;
  color: white;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-radius: 5px 5px 0px 0px;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
