<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="static/script.js"></script>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <aside>
            <label for="fts">Select FTS Model</label>
            <input type="file" name="fts" id="fts">
            <button id="load" type="button">Load model</button>
            <button id="full" type="button">Full ambiguities analysis</button>
            <button id="hdead" type="button">Liveness analysis</button>
            <button id="delete" type="button">Delete model and close</button>
        </aside>
        <main>
            <h2>Prototype of UI for FTS4MVC tool</h2>
            <textarea readonly></textarea>
        </main>
    </body>
</html>
