aside {
    padding: 5px;
    display: flex;
    background-color: yellowgreen;
    flex-direction: column;
    flex-grow: 1;
    max-width: 300px;
    min-width: 300px;
}

aside > * {
    margin: 5px;
}

main {
    flex-grow: 9;
    padding: 5px;
    background-color: seashell;
}

main > textarea {
    width: 90%;
    height: 80%;
    background-color: black;
    color: white;
    border-radius: 5px;
    resize: none;
}

html {
  height: 100%;
  font-family: sans-serif;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

.command {
  background-color:green;
  border-style: hidden;
  border-width: 3px;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: black;
  color: white;
  padding: 5px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  box-shadow:black 3px 3px;
  display: none;
}

#fts-label {
  display: block;
}

#stop {
  background-color: red;
  color: black;
}

.command:hover {
  background-color:yellow;
  color: black;
}

input[type="file"] {
  display: none;
}

label {
  text-align: center;
}
